{% extends "network/layout.html" %}

{% block body %}
    <section class="post-form">
        <h2>New Post</h2>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group mb-3">
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-dark" value="Create New Post">
        </form>
    </section>
{% endblock %}